{"openapi":"3.1.0","info":{"title":"codeitall — Rust agent deployment surface","version":"phase-1.11/v0.1.0","description":"Phase 1.11 deployment surface. Five tools served deterministically from a Postgres-backed Rust substrate (66.5M pattern_records, 7 probe families). No generative LLM in the request-response path; bge-m3 cosine fallback is deterministic-inference-only per vision non-negotiable #9."},"servers":[{"url":"https://api.codeitall.dev","description":"Stage 0 (Spark + Cloudflare Tunnel)"}],"paths":{"/healthz":{"get":{"summary":"Health check","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"},"substrate_version":{"type":"string"}}}}}}}}},"/v1/keys":{"post":{"summary":"Mint an anonymous API key","description":"Zero-friction key issuance per locked OQ-1.11.C=C1+C4. No email, no captcha, no signup. Per-IP issuance cap of 10/day; per-key baseline quota 10K queries/day. The raw key is returned exactly once.","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Newly minted key","content":{"application/json":{"schema":{"type":"object","required":["key","daily_quota","issued_at"],"properties":{"key":{"type":"string"},"daily_quota":{"type":"integer"},"issued_at":{"type":"string","format":"date-time"}}}}}},"429":{"description":"Per-IP issuance cap exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/signature_search":{"post":{"summary":"Call the signature_search tool","description":"Use when the agent already knows the signature shape it wants — e.g. `fn(&str) -> Result<Vec<u8>, _>`, `fn(&[u8]) -> Result<String, std::str::Utf8Error>`, or `impl Iterator<Item=Result<...>>`. Returns ranked candidate functions with the crate they live in, downloads, yank status, and a compact behavior summary if probed. Pass the exact signature verbatim; the substrate normalises whitespace + identifiers on its end.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Provide exactly one of `shape` or `shape_b64`.","properties":{"shape":{"type":"string","description":"Signature shape verbatim (exact-match), e.g. 'fn(&str) -> bool'. No wildcards."},"shape_b64":{"type":"string","description":"base64url of the signature — agent-safe (no URL special characters to re-encode). Prefer this from GET-only / browse clients."},"language":{"type":"string","default":"rust"},"top_n":{"type":"integer","minimum":1,"maximum":50}}}}}},"responses":{"200":{"description":"Structured response (deterministic JSON)"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate-limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"get":{"summary":"Call the signature_search tool (GET alias)","description":"Use when the agent already knows the signature shape it wants — e.g. `fn(&str) -> Result<Vec<u8>, _>`, `fn(&[u8]) -> Result<String, std::str::Utf8Error>`, or `impl Iterator<Item=Result<...>>`. Returns ranked candidate functions with the crate they live in, downloads, yank status, and a compact behavior summary if probed. Pass the exact signature verbatim; the substrate normalises whitespace + identifiers on its end.\n\nGET alias for browse-only callers: pass the same fields as query parameters.","parameters":[{"name":"shape","in":"query","required":false,"schema":{"type":"string","description":"Signature shape verbatim (exact-match), e.g. 'fn(&str) -> bool'. No wildcards."}},{"name":"shape_b64","in":"query","required":false,"schema":{"type":"string","description":"base64url of the signature — agent-safe (no URL special characters to re-encode). Prefer this from GET-only / browse clients."}},{"name":"language","in":"query","required":false,"schema":{"type":"string","default":"rust"}},{"name":"top_n","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":50}}],"responses":{"200":{"description":"Structured response (deterministic JSON)"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate-limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/behavior_lookup":{"post":{"summary":"Call the behavior_lookup tool","description":"Use when the agent has a specific (crate, fn_name) pair and wants to know what inputs it actually accepts at runtime — e.g. `(crate='jiff', fn_name='Timestamp::from_str')`. Returns the probe observation table verbatim from the substrate: each row is (input, outcome=ok|err|panic, value or error variant). Pass an optional `inputs` array to filter to specific input strings. The substrate's discrimination findings live here — runtime behaviour the docs are silent or wrong about.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["crate","fn_name"],"properties":{"crate":{"type":"string"},"fn_name":{"type":"string"},"inputs":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Structured response (deterministic JSON)"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate-limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"get":{"summary":"Call the behavior_lookup tool (GET alias)","description":"Use when the agent has a specific (crate, fn_name) pair and wants to know what inputs it actually accepts at runtime — e.g. `(crate='jiff', fn_name='Timestamp::from_str')`. Returns the probe observation table verbatim from the substrate: each row is (input, outcome=ok|err|panic, value or error variant). Pass an optional `inputs` array to filter to specific input strings. The substrate's discrimination findings live here — runtime behaviour the docs are silent or wrong about.\n\nGET alias for browse-only callers: pass the same fields as query parameters.","parameters":[{"name":"crate","in":"query","required":true,"schema":{"type":"string"}},{"name":"fn_name","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Structured response (deterministic JSON)"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate-limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/compare_implementations":{"post":{"summary":"Call the compare_implementations tool","description":"Use when the agent asks about a task category — e.g. 'how do I parse JSON in rust', 'compare base64 crates', 'which datetime library handles RFC 3339 timezones right' — and wants the cross-implementation behavior table. The substrate returns side-by-side observations on the canonical input set: for each implementation (crate, fn_name), each input in the family's input set is paired with the observed (outcome, value_or_error_variant). Discrimination signal lives here — the docs-silent runtime behaviour pattern Guiding Principle #8 names.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["task"],"properties":{"task":{"type":"string","description":"Probe family name from the §27 catalogue (datetime, json_strict_vs_permissive, base64, …).","examples":["datetime","base64","json_strict_vs_permissive","jwt_verify","aead_encrypt_decrypt","constant_time_compare","duration"]},"language":{"type":"string","default":"rust"}}}}}},"responses":{"200":{"description":"Structured response (deterministic JSON)"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate-limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"get":{"summary":"Call the compare_implementations tool (GET alias)","description":"Use when the agent asks about a task category — e.g. 'how do I parse JSON in rust', 'compare base64 crates', 'which datetime library handles RFC 3339 timezones right' — and wants the cross-implementation behavior table. The substrate returns side-by-side observations on the canonical input set: for each implementation (crate, fn_name), each input in the family's input set is paired with the observed (outcome, value_or_error_variant). Discrimination signal lives here — the docs-silent runtime behaviour pattern Guiding Principle #8 names.\n\nGET alias for browse-only callers: pass the same fields as query parameters.","parameters":[{"name":"task","in":"query","required":true,"schema":{"type":"string","description":"Probe family name from the §27 catalogue (datetime, json_strict_vs_permissive, base64, …).","examples":["datetime","base64","json_strict_vs_permissive","jwt_verify","aead_encrypt_decrypt","constant_time_compare","duration"]}},{"name":"language","in":"query","required":false,"schema":{"type":"string","default":"rust"}}],"responses":{"200":{"description":"Structured response (deterministic JSON)"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate-limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/find_modern_equivalent":{"post":{"summary":"Call the find_modern_equivalent tool","description":"Use when the agent suspects the code it's about to write uses a deprecated API — e.g. `tokio::Runtime::new()` (now `tokio::runtime::Runtime::new()`), `chrono::DateTime::from_str` (now feature-gated), or any path that points to a yanked or RustSec-advisory'd crate version. The substrate returns the current canonical alternative with a behavior summary if probed, and surfaces yank-status / advisory rows verbatim.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["deprecated_call"],"properties":{"deprecated_call":{"type":"string"},"language":{"type":"string","default":"rust"}}}}}},"responses":{"200":{"description":"Structured response (deterministic JSON)"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate-limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"get":{"summary":"Call the find_modern_equivalent tool (GET alias)","description":"Use when the agent suspects the code it's about to write uses a deprecated API — e.g. `tokio::Runtime::new()` (now `tokio::runtime::Runtime::new()`), `chrono::DateTime::from_str` (now feature-gated), or any path that points to a yanked or RustSec-advisory'd crate version. The substrate returns the current canonical alternative with a behavior summary if probed, and surfaces yank-status / advisory rows verbatim.\n\nGET alias for browse-only callers: pass the same fields as query parameters.","parameters":[{"name":"deprecated_call","in":"query","required":true,"schema":{"type":"string"}},{"name":"language","in":"query","required":false,"schema":{"type":"string","default":"rust"}}],"responses":{"200":{"description":"Structured response (deterministic JSON)"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate-limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/answer_api_question":{"post":{"summary":"Call the answer_api_question tool","description":"Use this when an agent asks open-ended Rust API questions like 'how do I parse a duration string', 'which crate gives me HMAC verification', 'is this function deprecated', 'what's the current way to do JWT auth', or 'compare base64 crates'. Hand off free-text questions verbatim; the substrate routes them deterministically via rule-based intent detection (no LLM in the request path) and dispatches into signature_search, behavior_lookup, compare_implementations, or find_modern_equivalent as appropriate, falling back to bge-m3 cosine retrieval if no rule matches. Returns a structured verdict with routed_via, the primary recommendation, evidence, and caveats.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["question"],"properties":{"question":{"type":"string"},"language":{"type":"string","default":"rust"}}}}}},"responses":{"200":{"description":"Structured response (deterministic JSON)"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate-limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"get":{"summary":"Call the answer_api_question tool (GET alias)","description":"Use this when an agent asks open-ended Rust API questions like 'how do I parse a duration string', 'which crate gives me HMAC verification', 'is this function deprecated', 'what's the current way to do JWT auth', or 'compare base64 crates'. Hand off free-text questions verbatim; the substrate routes them deterministically via rule-based intent detection (no LLM in the request path) and dispatches into signature_search, behavior_lookup, compare_implementations, or find_modern_equivalent as appropriate, falling back to bge-m3 cosine retrieval if no rule matches. Returns a structured verdict with routed_via, the primary recommendation, evidence, and caveats.\n\nGET alias for browse-only callers: pass the same fields as query parameters.","parameters":[{"name":"question","in":"query","required":true,"schema":{"type":"string"}},{"name":"language","in":"query","required":false,"schema":{"type":"string","default":"rust"}}],"responses":{"200":{"description":"Structured response (deterministic JSON)"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate-limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"Error":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string"},"message":{"type":"string"}}}}}}